<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Rent Europe</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
  <script defer src="{{ url_for('static', filename='js/global.js') }}"></script>
</head>
<body>
  {% include "navbar.html" %}

  <div class="container">
    {% include "components/toast.html" %}
    {% block content %}{% endblock %}
  </div>

  {% include "footer.html" %}
</body>
</html>
